        /* CSS 스타일 */
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
        }

        header {
            position:relative;
            background-color: #0099cc;
            color: #fff;
            padding: 70px;
            text-align: center;
            z-index : 0;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            margin: 0 5px;
            border-radius: 3px;
            background-color: #0099cc;
            transition: background-color 0.3s ease;
        }

        nav a:hover{
            background-color: #007399;
        }
        /*

        */
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        }

        h1 {
            color:white;
            font-family: Arial;
            z-index:1;
        }
        h2 {
            color : black;
            font-family: Arial;
        }
        p {
            line-height: 1.5;
        }

        a{
            text-decoration: none; 
            /*href 밑줄 지우기 위해 */
            color : inherit;
        }



        table {
            border-collapse: collapse;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
          
          table, th, td {
            border: 1px solid #ddd;
          }
          
          th {
            background-color: #f2f2f2;
            font-weight: bold;
          }
          
          th, td {
            padding: 10px;
            text-align: left;
          }
          
          td[colspan="2"] {
            font-weight: bold;
          }
          
          td[rowspan="3"] {
            vertical-align: middle;
          }
          
          td[colspan="1"] {
            font-weight: bold;
          }
          
          @keyframes whaleAnimation {
            0% {
              transform: translateX(30%);
              z-index: -1;
            }
            
            100% {
              /* transform: translateX(-(calc(100vw + 70%))); */
               transform: translateX(-800%);
            }
          }
          .whale {
            position :inherit, absolute;
            overflow: hidden;
            top: 0;
            right: 0; /* 위치를 오른쪽 상단으로 변경 */
            width: 50%;
            height: 50px; /* 이미지의 높이에 맞게 조정하세요 */
            opacity: 0.89;
            z-index : -1;
          }
          
          .whale img {
            position: absolute;
            top: 0;
            right: 0; /* 위치를 오른쪽 상단으로 변경 */
            animation: whaleAnimation 70s linear infinite;
            z-index : -1;
          }
          

          /*물방울 애니메이션*/
          .water-container {
            position: relative;
          }
          
          .water-drop {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            animation: bubble 5s ease-in-out infinite;
            background-color: #87CEEB;
            opacity: 0.3;
          }
          
          .water-drop:nth-child(1) {
            top: 80%;
            left: 61%;
            width: 40px;
            height: 40px;
            animation-delay: 3s;
          }
          
          .water-drop:nth-child(2) {
            top: 30%;
            left: 62%;
            animation-delay: 3.2s;
          }
          
          .water-drop:nth-child(3) {
            top: 70%;
            left: 30%;
            width: 10px;
            height: 10px;
            animation-delay: 1s;
          }

          .water-drop:nth-child(4) {
            top: 30%;
            left: 70%;
            width: 10px;
            height: 10px;
            animation-delay: 4s;
          }

          .water-drop:nth-child(5) {
            top: 80%;
            left: 14.5%;
            width: 19px;
            height: 19px;
            animation-delay: 3.3s;
          }

          .water-drop:nth-child(6) {
            top: 0%;
            left: 90%;
            width: 25px;
            height: 25px;
            animation-delay: 5s;
          }

          .water-drop:nth-child(7) {
            top: 70%;
            left: 100%;
            width: 10px;
            height: 10px;
            animation-delay: 5s;
          }

          .water-drop:nth-child(8) {
            top: 70%;
            left: 1%;
            width: 15px;
            height: 15px;
            animation-delay: 3s;
          }

          .water-drop:nth-child(9) {
            top: 70%;
            left: 50%;
            width: 10px;
            height: 10px;
            animation-delay: 4s;
          }

          .water-drop:nth-child(10) {
            top: 70%;
            left: 37%;
            width: 20px;
            height: 20px;
            animation-delay: 0.4s;
          }

          .water-drop:nth-child(11) {
            top: 70%;
            left: 0.5%;
            width: 5px;
            height: 5px;
            animation-delay: 0.9s;
          }

          
          .water-drop:nth-child(12) {
            top: 70%;
            left: 15%;
            width: 36px;
            height: 36px;
            animation-delay: 3s;
          }

          .water-drop:nth-child(13) {
            top: 0%;
            left: 36%;
            width: 30px;
            height: 30px;
            animation-delay: 0.1s;
          }

          .water-drop:nth-child(14) {
            top: 70%;
            left: 80%;
            width: 5px;
            height: 5px;
            animation-delay: 0.1s;
          }
          .water-drop:nth-child(15) {
            top: 70%;
            left: 99%;
            width: 7px;
            height: 7px;
            animation-delay: 3s;
          }
          .water-drop:nth-child(16) {
            top: 70%;
            left: 10%;
            width: 10px;
            height: 10px;
            animation-delay: 0.1s;
          }
          .water-drop:nth-child(17) {
            top: 70%;
            left: 75.5%;
            width: 20px;
            height: 20px;
            animation-delay: 3s;
          }


          
          
          @keyframes bubble {
            0% {
              transform: translateY(0) scale(1);
            }
            50% {
              transform: translateY(-80px) scale(1.0);
            }
            100% {
              transform: translateY(0) scale(1);
            }
          }
          
          
